
<section class="signup p-3 ">
    <div class="bg-signup-img"></div>
    <div class="overlay"></div>
    
    <div class="container">
        <div class="row h-100 align-items-center">
            <div class="col-md-6">
               <div class="row">
                <div class="col-md-9 m-auto">
                    <div class="login-card"> 
                        <form>
                            <div class="row">
                                <div class="col-md-12 text-center mb-4">
                                    <img src="assets/images/logo.png">
                                </div>
                                <div class="col-md-12 text-center">
                                    <p class="welcometext fs20 fw600 mb-1">OTP verification</p>
                                    <p class="welcomequote fs13 mb-4">Please enter the OTP (One-Time Password) sent to your registered email/phone number to complete your verification.</p>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="email" placeholder="Enter email" name="email">
                                        <label for="email"></label>
                                      </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="email" placeholder="Enter email" name="email">
                                        <label for="email"></label>
                                      </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="email" placeholder="Enter email" name="email">
                                        <label for="email"></label>
                                      </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="email" placeholder="Enter email" name="email">
                                        <label for="email"></label>
                                      </div>
                                </div>
                                <div class="col-md-12 mb-3 text-end">
                                    <p class="mb-1 fs11">Remaining time: <span class="fw600"> 00:59</span></p>
                                    <p class="mb-1 fs11">Didn't got the code? <span class="text-primary"> Resend</span></p>
                                </div>
                                
                                <div class="col-md-12">
                                    <button class="cssbuttons-io-button">
                                        Verify OTP
                                        <div class="icon">
                                          <svg
                                            height="24"
                                            width="24"
                                            viewBox="0 0 24 24"
                                            xmlns="http://www.w3.org/2000/svg"
                                          >
                                            <path d="M0 0h24v24H0z" fill="none"></path>
                                            <path
                                              d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"
                                              fill="currentColor"
                                            ></path>
                                          </svg>
                                        </div>
                                      </button>
                                </div>
                               
                            </div>



                        </form>
                    </div>
                </div>
               </div>
            </div>
            <div class="col-md-6 mx-auto">
                <div>
                    <!-- <h1 class="text-center mb-3 d-none"><img
                            src="https://themesdesign.in/tailwick/html/assets/images/logo-light.png" class="img-fluid"
                            style="width: 160px;"></h1> -->
                </div>
                <div class="d-flex justify-content-center position-relative mob-img">
                    <div class="img1-animation img1">
                        <img src="assets/images/banimg2.png" class="img-fluid  ">
                    </div>
                    <div class="img1-animation img2">
                        <img src="assets/images/banimg3.png" class="img-fluid  ">
                    </div>
                    <div class="img1-animation img3">
                        <img src="assets/images/banimg4.png" class="img-fluid">
                    </div>
                    <div class="img1-animation img8">
                        <img src="assets/images/banimg1.png" class="img-fluid ">
                    </div>
                    <div class="img1-animation img4">
                        <img src="assets/images/banimg5.png" class="img-fluid ">
                    </div>
                    <div class="img1-animation img5">
                        <img src="assets/images/banimg6.png" class="img-fluid">
                    </div>
                    <div class="img1-animation img6">
                        <img src="assets/images/banimg7.png" class="img-fluid">
                    </div>
                </div>
                <div>
                    <h4 class="text-white text-center">Join Us for Seamless<br> Recharge and Bill Payments</h4>
                    
                </div>
            </div>
        </div>
    </div>


</section>