<section class="page">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-10">
            <!-- 🔹 Dynamic Tabs -->
            <ul class="tabnavc-ul ps-0 mb-0">
              <li
                *ngFor="let t of tabs"
                [ngClass]="{ active: libuysellTab === t.id }"
                (click)="libuysell(t.id)"
              >
                <div class="tabnavc-a">
                  <div>
                    <span class="tabnavc-txt">{{ t.label }}</span>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="col-md-2 text-end">
            <button
              class="btn btn-sm btn-outline-success"
              (click)="navigate('package-lm-wk')"
            >
              <i class="fa-solid fa-arrow-left me-2"></i>Go Back
            </button>
          </div>
        </div>
        <hr />
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body p-3" style="min-height: 550px">
            <!-- Package name + default -->
            <div class="row mb-3">
              <div class="col-md-4">
                <label class="form-label">Package Name</label>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="pkgName"
                  name="pkgName"
                  appAlphaSpaceOnly
                  [disabled]="isViewMode"
                  [readOnly]="this.mode !== 'add'"
                />
              </div>
              <!-- <div class="col-md-4 d-flex align-items-end">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    id="defPkg"
                    [(ngModel)]="defPkgChecked"
                    name="defPkg"
                    [disabled]="isViewMode"
                  />
                  <label class="form-check-label" for="defPkg">
                    Default Package
                  </label>
                </div>
              </div> -->
            </div>

            <!-- 🔹 TAB: Money Transfer -->
            <div *ngIf="libuysellTab === 'money'">
              <div class="row pt-3">
                <div
                  class="mb-4"
                  *ngFor="let mt of moneyTransferRows; let i = index"
                >
                  <!-- Parent Checkbox -->
                  <div class="form-check mb-3">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      [id]="'mt_' + i"
                      [(ngModel)]="mt.enabled"
                      name="mtEnabled_{{ mt.sourceId }}"
                      [disabled]="isViewMode"
                    />
                    <label
                      class="form-check-label fw-semibold"
                      [for]="'mt_' + i"
                    >
                      {{ mt.sourceName }}
                    </label>
                  </div>

                  <!-- Retailer to Sender -->
                  <div class="row mb-3 align-items-center">
                    <div class="col-md-3">Overall limit for sender</div>
                    <div class="col-md-3">
                      <!-- <input
            type="number"
            class="form-control"
            [ngModel]="mt.limit | number:'1.2-2'"
            (ngModelChange)="mt.limit = $event"
            [disabled]="isViewMode || !mt.enabled"
          /> -->

                      <!-- <input
  type="text"
  class="form-control"
  placeholder="0.00"
  [value]="displayLimit(mt.limit)"
 (input)="onStrictAmountInputLimit(mt,'limit', $event)"
  (blur)="onStrictAmountBlur(mt)"
  (focus)="onStrictAmountFocusLimit(mt, 'limit', $event)"
  [disabled]="isViewMode || !mt.enabled"
/> -->
                      <input
                        type="text"
                        class="form-control"
                        placeholder="0.00"
                        [value]="displayLimit(mt, 'limit')"
                        (input)="onLimitInput(mt, 'limit', $event)"
                        (focus)="onLimitFocus(mt, 'limit', $event)"
                        (blur)="onLimitBlur(mt, 'limit')"
                        [disabled]="isViewMode || !mt.enabled"
                      />
                    </div>
                  </div>

                  <!-- Retailer to Account -->
                  <div class="row mb-3 align-items-center">
                    <div class="col-md-3">Max sender limit per retailer</div>
                    <div class="col-md-3">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="0.00"
                        [value]="displayLimit(mt, 'limit2')"
                        (input)="onLimitInput(mt, 'limit2', $event)"
                        (focus)="onLimitFocus(mt, 'limit2', $event)"
                        (blur)="onLimitBlur(mt, 'limit2')"
                        [disabled]="isViewMode || !mt.enabled"
                      />
                    </div>
                  </div>

                  <!-- Sender to Account -->
                  <div class="row mb-3 align-items-center">
                    <div class="col-md-3">Beneficiary limit by sender</div>
                    <div class="col-md-3">
                      <!-- <input
            type="number"
            class="form-control"
            [ngModel]="mt.limit3 | number:'1.2-2'"
            (ngModelChange)="mt.limit3 = $event"
            [disabled]="isViewMode || !mt.enabled"
          /> -->
                      <!-- <input
  type="text"
  class="form-control"
  placeholder="0.00"
  [value]="displayLimit(mt.limit3)"
  (input)="onStrictAmountInputLimit(mt,'limit3', $event)"
  (blur)="onStrictAmountBlur(mt)"
  (focus)="onStrictAmountFocusLimit(mt,'limit3', $event)"
  [disabled]="isViewMode || !mt.enabled"
/> -->
                      <input
                        type="text"
                        class="form-control"
                        placeholder="0.00"
                        [value]="displayLimit(mt, 'limit3')"
                        (input)="onLimitInput(mt, 'limit3', $event)"
                        (focus)="onLimitFocus(mt, 'limit3', $event)"
                        (blur)="onLimitBlur(mt, 'limit3')"
                        [disabled]="isViewMode || !mt.enabled"
                      />
                    </div>
                  </div>

                  <hr *ngIf="i < moneyTransferRows.length - 1" />
                </div>
              </div>
            </div>

            <!-- 🔹 TAB: Recharge (Type 2) -->
            <div *ngIf="libuysellTab === 'recharge'">
              <div class="row pt-3">
                <div
                  class="row align-items-center mb-3"
                  *ngFor="let row of rechargeRows"
                >
                  <div class="col-md-3 d-flex align-items-center">
                    <input
                      class="form-check-input me-2"
                      type="checkbox"
                      [(ngModel)]="row.enabled"
                      name="recharge_{{ row.sourceId }}"
                      [disabled]="isViewMode"
                    />
                    <label class="form-check-label fw-semibold">
                      {{ row.sourceName }}
                    </label>
                  </div>
                  <div class="col-md-3">
                    <!-- <input
                      type="number"
                      class="form-control"
                      [ngModel]="row.limit| number:'1.2-2'"
                        (ngModelChange)="row.limit = $event"
                      name="rechargeLimit_{{ row.sourceId }}"
                      [disabled]="isViewMode || !row.enabled"
                    /> -->
                    <!-- <input
  type="text"
  class="form-control"
  placeholder="0.00"
  [value]="displayLimit(row.limit)"
  (input)="onStrictAmountInput(row, $event)"
  (blur)="onStrictAmountBlur(row)"
  (focus)="onStrictAmountFocus(row, $event)"
  name="rechargeLimit_{{ row.sourceId }}"
  [disabled]="isViewMode || !row.enabled"
/> -->
                    <input
                      type="text"
                      class="form-control"
                      placeholder="0.00"
                      [value]="displayLimit(row, 'limit')"
                      (input)="onLimitInput(row, 'limit', $event)"
                      (focus)="onLimitFocus(row, 'limit', $event)"
                      (blur)="onLimitBlur(row, 'limit')"
                      [disabled]="isViewMode || !row.enabled"
                    />
                  </div>
                </div>
              </div>
            </div>

            <!-- 🔹 TAB: Utility Bill (Type 4) -->
            <div *ngIf="libuysellTab === 'billing'">
              <div class="row pt-3">
                <div
                  class="row align-items-center mb-3"
                  *ngFor="let row of utilityRows"
                >
                  <div class="col-md-3 d-flex align-items-center">
                    <input
                      class="form-check-input me-2"
                      type="checkbox"
                      [(ngModel)]="row.enabled"
                      name="utility_{{ row.sourceId }}"
                      [disabled]="isViewMode"
                    />
                    <label class="form-check-label fw-semibold">
                      {{ row.sourceName }}
                    </label>
                  </div>
                  <div class="col-md-3">
                    <!-- <input
                      type="number"
                      class="form-control"
                      [ngModel]="row.limit| number:'1.2-2'"
                        (ngModelChange)="row.limit = $event"
                      name="utilityLimit_{{ row.sourceId }}"
                      [disabled]="isViewMode || !row.enabled"
                    /> -->
                    <!-- <input
  type="text"
  class="form-control"
  placeholder="0.00"
  [value]="displayLimit(row.limit)"
  (input)="onStrictAmountInput(row, $event)"
  (blur)="onStrictAmountBlur(row)"
  (focus)="onStrictAmountFocus(row, $event)"
  name="utilityLimit_{{ row.sourceId }}"
  [disabled]="isViewMode || !row.enabled" 
/>-->
                    <input
                      type="text"
                      class="form-control"
                      placeholder="0.00"
                      [value]="displayLimit(row, 'limit')"
                      (input)="onLimitInput(row, 'limit', $event)"
                      (focus)="onLimitFocus(row, 'limit', $event)"
                      (blur)="onLimitBlur(row, 'limit')"
                      [disabled]="isViewMode || !row.enabled"
                    />
                  </div>
                </div>
              </div>
            </div>

            <!-- 🔹 TAB: Booking (Type 3) -->
            <div *ngIf="libuysellTab === 'booking'">
              <div class="row pt-3">
                <div
                  class="row align-items-center mb-3"
                  *ngFor="let row of bookingRows"
                >
                  <div class="col-md-3 d-flex align-items-center">
                    <input
                      class="form-check-input me-2"
                      type="checkbox"
                      [(ngModel)]="row.enabled"
                      name="booking_{{ row.sourceId }}"
                      [disabled]="isViewMode"
                    />
                    <label class="form-check-label fw-semibold">
                      {{ row.sourceName }}
                    </label>
                  </div>
                  <div class="col-md-3">
                    <!-- <input
                      type="number"
                      class="form-control"
                      [ngModel]="row.limit| number:'1.2-2'"
                        (ngModelChange)="row.limit = $event"
                      name="bookingLimit_{{ row.sourceId }}"
                      [disabled]="isViewMode ||!row.enabled"
                    /> -->
                    <!-- <input
  type="text"
  class="form-control"
  placeholder="0.00"
  [value]="displayLimit(row.limit)"
  (input)="onStrictAmountInput(row, $event)"
  (blur)="onStrictAmountBlur(row)"
  (focus)="onStrictAmountFocus(row, $event)"
  name="bookingLimit_{{ row.sourceId }}"
  [disabled]="isViewMode || !row.enabled"
/> -->
                    <input
                      type="text"
                      class="form-control"
                      placeholder="0.00"
                      [value]="displayLimit(row, 'limit')"
                      (input)="onLimitInput(row, 'limit', $event)"
                      (focus)="onLimitFocus(row, 'limit', $event)"
                      (blur)="onLimitBlur(row, 'limit')"
                      [disabled]="isViewMode || !row.enabled"
                    />
                  </div>
                </div>
              </div>
            </div>

            <!-- 🔹 TAB: Misc Service (Type 5) -->
            <div *ngIf="libuysellTab === 'misc'">
              <div class="row pt-3">
                <div
                  class="row align-items-center mb-3"
                  *ngFor="let row of miscRows"
                >
                  <div class="col-md-3 d-flex align-items-center">
                    <input
                      class="form-check-input me-2"
                      type="checkbox"
                      [(ngModel)]="row.enabled"
                      name="misc_{{ row.sourceId }}"
                      [disabled]="isViewMode"
                    />
                    <label class="form-check-label fw-semibold">
                      {{ row.sourceName }}
                    </label>
                  </div>
                  <div class="col-md-3">
                    <!-- <input
                      type="number"
                      class="form-control"
                      [ngModel]="row.limit| number:'1.2-2'"
                        (ngModelChange)="row.limit = $event"
                      name="miscLimit_{{ row.sourceId }}"
                      [disabled]="isViewMode ||!row.enabled"
                    /> -->
                    <!-- <input
  type="text"
  class="form-control"
  placeholder="0.00"
  [value]="displayLimit(row.limit)"
  (input)="onStrictAmountInput(row, $event)"
  (blur)="onStrictAmountBlur(row)"
  (focus)="onStrictAmountFocus(row, $event)"
  name="miscLimit_{{ row.sourceId }}"
  [disabled]="isViewMode || !row.enabled"
/> -->
                    <input
                      type="text"
                      class="form-control"
                      placeholder="0.00"
                      [value]="displayLimit(row, 'limit')"
                      (input)="onLimitInput(row, 'limit', $event)"
                      (focus)="onLimitFocus(row, 'limit', $event)"
                      (blur)="onLimitBlur(row, 'limit')"
                      [disabled]="isViewMode || !row.enabled"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Footer buttons -->
          <!-- <div class="card-footer" *ngIf="!isViewMode">
            <div class="row">
              <div class="col-md-3"></div>
              <div class="col-md-3">
                <button
                  class="btn btn-success w-100"
                  type="button"
                  (click)="onSubmit()"
                  [disabled]="submitting"
                >
                  {{ isEditMode ? 'Update' : 'Submit' }}
                </button>
              </div>
            </div>
          </div> -->
          <div
            class="card-footer d-flex justify-content-end"
            *ngIf="!isViewMode"
          >
            <button class="btn btn-success" (click)="onSubmit()">
              {{ isEditMode ? "Update" : "Submit" }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
