
<section class="page">
    <div class="container-fluid">
        @if (!headerHide){
        <div class="row ">
           <div class="col-md-12">
            <div class="d-flex align-items-center justify-content-between pb-3">
                
                <div>
                    <ul class="tabnavc-ul ps-0 mb-0">
                        <li [ngClass]="{'active': selectedTab == 'reports-penality'  || selectedTab === 'penality-main/reports-penality'}" (click)="navigated('reports-penality')">
                            <div class="tabnavc-a ">
                                <span class="tbicon"><i class="fa-regular fa-file-lines"></i></span><span class="tabnavc-txt">Overall</span>
                            </div>
                        </li>
                        <li [ngClass]="{'active': selectedTab == 'user-penality' || selectedTab == 'penality-main/user-penality'}" (click)="navigated('user-penality')" >
                            <div class="tabnavc-a" >
                                <span class="tbicon"><i class="fa-solid fa-users"></i></span><span class="tabnavc-txt">User Wise</span>
                            </div>
                        </li>
                        
                    </ul>
                </div>
               
            </div>
           </div>
           
       
            <hr>
        </div>
    }
       <div class="row">
           
        <router-outlet></router-outlet>
        </div>
    </div>
</section>


   