
<section class="page">
    <div class="container-fluid">
        <!-- <div class="row">
            <div class="col-md-12 mb-4">
                <p class="mb-0 fw600">Overall</p>
            </div>
        </div> -->
       <div class="row pe-3">
           <div class="col-md-12">
            <div class="card">
                <div class="card-header flex-center-between">
                    <p class="mb-0 fw600">Pre Paid</p>
                    <!-- <p class="mb-0 fw600">All Users</p>
                     <i class="fa-solid fa-magnifying-glass"></i>
                   <div>
                    <button class="btn btn-sm btn-success"><i style="color:#F8E000" class="fa-solid fa-circle-plus me-2"></i>Add User</button>
                   </div> -->
                </div>
                <div class="card-body">
                   <div class="row ">
                        <div class="col-md-12">
                            <div class="tblone table-responsive">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>Timestamp</th>
                                           <th>Reference</th>
                                           <th>Operator</th>
                                           <th>Service</th>
                                           <th>Amount</th>
                                           <th>Recipient</th>
                                           <th>Acko</th>
                                           <th>Fee</th>
                                           <th>RL</th>
                                           <th>DI</th>
                                           <th>MD</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                        <td><p class="mb-0 color-light">21-10-2024-11:30</p></td>
                                        <td><p class="mb-0 color-light">Ref.58745125863</p></td>
                                        <td><p class="mb-0 ">Airtel</p></td>
                                        <td><p class="mb-0 ">Post-Paid</p></td>
                                        <td><p class="mb-0 bamount fw600 text-success">50000.00</p></td>
                                        <td><p class="mb-0">Vikas Pathak</p></td>
                                        <td><p class="mb-0">ACKO</p></td>
                                        <td><p class="mb-0 bfree">2%</p></td>
                                       <td><p class="mb-0">Irshad Ali</p></td>
                                        <td><p class="mb-0">Suraj Kumar</p></td>
                                        <td><p class="mb-0">Sonu Giri</p></td>
                                     </tr>
                                     
                                    </tbody>
                                  </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           </div>
        </div>
    </div>
</section>