
<section class="signup p-3 ">
    <div class="bg-signup-img"></div>
    <div class="overlay"></div>
    
    <div class="container">
        <div class="row h-100 align-items-center">
            <div class="col-md-6">
               <div class="row">
                <div class="col-md-9 m-auto">
                    <div class="login-card"> 
                        <form [formGroup]="loginForm">
                            <div class="row">
                                <div class="col-md-12 text-center mb-4">
                                    <img src="assets/images/logo.png">
                                </div>
                                <div class="col-md-12 text-center">
                                    <p class="welcometext fs20 fw600 mb-1">Welcome</p>
                                    <p class="welcomequote fs13 mb-4">Please enter your details to sign in.</p>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="email" placeholder="Enter email" name="email"
                                        formControlName="Email"  [ngClass]="{ 'is-invalid': submitted && f['Email'].errors }">
                                        @if (submitted && f['Email'].errors) {
                                            <div class="invalid-feedback">
                                                @if (f['Email'].errors['required']) {
                                                <div>Email is required</div>
                                                } @if (f['Email'].errors['pattern']) {
                                                <div>Email must be in correct format</div>
                                                }
                                            </div>
                                            }
                                        <label for="email">Email</label>
                                      </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-floating mb-3">
                                        <input [type]="hide ? 'text' : 'password'" class="form-control" id="email" placeholder="Enter email" name="email"
                                        formControlName="Password" [ngClass]="{ 'is-invalid': submitted && f['Password'].errors }">
                                        <div class="sub-text">
                                            <i class="fa-regular fa-eye eyes ms-2" (click)="toggleVisibility()"></i>
                                            <i class="fa-regular eyes fa-eye-slash d-none"></i>
                                        </div>
                                        @if (submitted && f['Password'].errors) {
                                            <div class="invalid-feedback">
                                                @if (f['Password'].errors['required']) {
                                                <div>Password is required</div>
                                                }
                                            </div>
                                        }
                                        <label for="email">Password</label>
                                      </div>
                                </div>
                                <!-- <div class="col-md-12">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="email" placeholder="Enter email" name="email">
                                        <label for="email">Email</label>
                                      </div>
                                </div> -->
                                <div class="col-md-12">
                                    <div class="mb-3 form-check d-flex justify-content-between">
                                        <div>
                                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                            <label class="form-check-label fs12" for="exampleCheck1">Remember me</label>
                                        </div>
                                        <div class="d-flex">
                                            <a routerLink="/forget" class="ms-1 fs12">Forgot Password ? </a>
                                        </div>
                                    </div>
                                   
                                </div>
                                <div class="col-md-12">
                                    <button class="cssbuttons-io-button" (click)="login()">
                                        Sign in
                                        <div class="icon">
                                          <svg
                                            height="24"
                                            width="24"
                                            viewBox="0 0 24 24"
                                            xmlns="http://www.w3.org/2000/svg"
                                          >
                                            <path d="M0 0h24v24H0z" fill="none"></path>
                                            <path
                                              d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"
                                              fill="currentColor"
                                            ></path>
                                          </svg>
                                        </div>
                                      </button>
                                </div>
                                <div class="col-md-12">
                                    <p class="acc-create">Don't have account ? <a routerLink="/signup"> Create an Account</a></p>
                                </div>
                            </div>



                        </form>
                    </div>
                </div>
               </div>
            </div>
            <div class="col-md-6 mx-auto">
                <div>
                    <!-- <h1 class="text-center mb-3 d-none"><img
                            src="https://themesdesign.in/tailwick/html/assets/images/logo-light.png" class="img-fluid"
                            style="width: 160px;"></h1> -->
                </div>
                <div class="d-flex justify-content-center position-relative mob-img">
                    <div class="img1-animation img1">
                        <img src="assets/images/banimg2.png" class="img-fluid  ">
                    </div>
                    <div class="img1-animation img2">
                        <img src="assets/images/banimg3.png" class="img-fluid  ">
                    </div>
                    <div class="img1-animation img3">
                        <img src="assets/images/banimg4.png" class="img-fluid">
                    </div>
                    <div class="img1-animation img8">
                        <img src="assets/images/banimg1.png" class="img-fluid ">
                    </div>
                    <div class="img1-animation img4">
                        <img src="assets/images/banimg5.png" class="img-fluid ">
                    </div>
                    <div class="img1-animation img5">
                        <img src="assets/images/banimg6.png" class="img-fluid">
                    </div>
                    <div class="img1-animation img6">
                        <img src="assets/images/banimg7.png" class="img-fluid">
                    </div>
                </div>
                <div>
                    <h4 class="text-white text-center">Join Us for Seamless<br> Recharge and Bill Payments</h4>
                    
                </div>
            </div>
        </div>
    </div>


</section>