
<section class="page">
    <div class="container-fluid">
        <!-- <div class="row">
            <div class="col-md-12 mb-4">
                <p class="mb-0 fw600">Overall</p>
            </div>
        </div> -->
       <div class="row pe-3">
           <div class="col-md-12">
            <div class="card">
                <div class="card-header flex-center-between">
                    <p class="mb-0 fw600">DMT</p>
                    <!-- <p class="mb-0 fw600">All Users</p>
                     <i class="fa-solid fa-magnifying-glass"></i>
                   <div>
                    <button class="btn btn-sm btn-success"><i style="color:#F8E000" class="fa-solid fa-circle-plus me-2"></i>Add User</button>
                   </div> -->
                </div>
                <div class="card-body">
                   <div class="row ">
                        <div class="col-md-12">
                            <div class="tblone table-responsive">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>Timestamp</th>
                                           <th>Reference</th>
                                           <th>Amount</th>
                                           <th>Status</th>
                                           <th>UTR</th>
                                           <th>Receipt Info</th>
                                           <th>MD</th>
                                           <th>DI</th>
                                           <th>Fee</th>
                                           <th>TDS</th>
                                           <th>GST</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                        <td><p class="mb-0 color-light">21-10-2024-11:30</p></td>
                                        <td><p class="mb-0 color-light">Ref.58745125863</p></td>
                                        <td><p class="mb-0 bamount fw600 text-success">50000.00</p></td>
                                        <td>
                                            <div class="d-flex">
                                                <div class="status-success">
                                                    <div><i class="fa-solid fa-circle-check"></i></div>
                                                    <span>Success</span>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="mng-copy">
                                                <p class="mb-0 color-light">17291431630201000</p>
                                                <button  class="btn btn-soft-warning btn-sm ms-2"><i  class="fa-regular fa-copy"></i></button>
                                            </div>
                                        </td>
                                        <td><p class="mb-0 color-light">rec254741254</p></td>
                                        <td><p class="mb-0">Irshad Ali</p></td>
                                        <td><p class="mb-0">Suraj Kumar</p></td>
                                        <td><p class="mb-0 bfree">2%</p></td>
                                        <td><p class="mb-0 btds">5%</p></td>
                                        <td><p class="mb-0 bgst">12%</p></td>
                                     </tr>
                                     <tr>
                                        <td><p class="mb-0 color-light">21-10-2024-11:30</p></td>
                                        <td><p class="mb-0 color-light">Ref.58745125863</p></td>
                                        <td><p class="mb-0 bamount fw600 text-warning">50000.00</p></td>
                                        <td>
                                            <div class="d-flex">
                                                <div class="status-pending">
                                                    <div><i class="fa-solid fa-circle-minus"></i></div>
                                                    <span>Pending</span>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="mng-copy">
                                                <p class="mb-0 color-light">17291431630201000</p>
                                                <button  class="btn btn-soft-warning btn-sm ms-2"><i  class="fa-regular fa-copy"></i></button>
                                            </div>
                                        </td>
                                        <td><p class="mb-0 color-light">rec254741254</p></td>
                                        <td><p class="mb-0">Pushkar Singh</p></td>
                                        <td><p class="mb-0">Anurag Singh</p></td>
                                        <td><p class="mb-0 bfree">2%</p></td>
                                        <td><p class="mb-0 btds">5%</p></td>
                                        <td><p class="mb-0 bgst">12%</p></td>
                                     </tr>
                                     <tr>
                                        <td><p class="mb-0 color-light">21-10-2024-11:30</p></td>
                                        <td><p class="mb-0 color-light">Ref.58745125863</p></td>
                                        <td><p class="mb-0 bamount fw600 text-danger">50000.00</p></td>
                                        <td>
                                            <div class="d-flex">
                                                <div class="status-cancel">
                                                    <div><i class="fa-solid fa-circle-xmark"></i></div>
                                                    <span>Rejected</span>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="mng-copy">
                                                <p class="mb-0 color-light">17291431630201000</p>
                                                <button  class="btn btn-soft-warning btn-sm ms-2"><i  class="fa-regular fa-copy"></i></button>
                                            </div>
                                        </td>
                                        <td><p class="mb-0 color-light">rec254741254</p></td>
                                        <td><p class="mb-0">Ashwani Yadav</p></td>
                                        <td><p class="mb-0">Sonu Giri</p></td>
                                        <td><p class="mb-0 bfree">2%</p></td>
                                        <td><p class="mb-0 btds">5%</p></td>
                                        <td><p class="mb-0 bgst">12%</p></td>
                                     </tr>
                                     
                                    </tbody>
                                  </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           </div>
        </div>
    </div>
</section>