<section class="page kyc-main" style="background: #21684F; height: 100vh;">
    <div class="container">
       <div class="row height-center">
        
           <div class="col-md-10 m-auto">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h3 class="fs18" style="color:#fff">Complete Your KYC for a Smoother Experience</h3>
                    <p class="fs12" style="color:#fff">Follow the simple 4 steps to complete your mapping.</p>
                </div>
            </div>
               <div class="step-card-body">
                <div class="row">
                    
                    <div class="col-md-4">
                    <div class="step-card">
                        <div class="timeline">
                            <div class="timeline-item">
                                <div class="icon-wrapper">
                                    <i class="fas fa-user icon"></i>
                                </div>
                                <div class="timeline-content">
                                    <p class="mb-0 fs12">Step 1</p>
                                    <h5>Aadhar Card Verification</h5>
                                    
                                </div>
                            </div>
                            <div class="timeline-item">
                                <div class="icon-wrapper step-done">
                                    <i class="fas fa-book icon"></i>
                                </div>
                                <div class="timeline-content">
                                    <p class="mb-0 fs12">Step 2</p>
                                    <h5>Pan Card Verification</h5>
                                    
                                </div>
                            </div>
                            <div class="timeline-item">
                                <div class="icon-wrapper">
                                    <i class="fas fa-briefcase icon"></i>
                                </div>
                                <div class="timeline-content">
                                    <p class="mb-0 fs12">Step 3</p>
                                    <h5>Take Your Selfie</h5>
                                </div>
                            </div>
                            <div class="timeline-item">
                                <div class="icon-wrapper">
                                    <i class="fas fa-coins icon"></i>
                                </div>
                                <div class="timeline-content">
                                    <p class="mb-0 fs12">Step 4</p>
                                    <h5>Shop Details</h5>
                                </div>
                            </div>
                            <div class="timeline-item">
                                <div class="icon-wrapper">
                                    <i class="fas fa-envelope icon"></i>
                                </div>
                                <div class="timeline-content">
                                    <p class="mb-0 fs12">Step 1</p>
                                    <h5>Complete</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="col-md-8">
                        <div class="row">
                            <router-outlet></router-outlet>
                        </div>
                    </div>  
                </div>
               </div>
           </div>
       </div>
  </div>
</section>
