.btn.btn-my-green.active{
    background: green;
    color:#fff
}
.btn.btn-my-green{
    border-color:green
}

.btn.btn-my-green span{
    background: #00800059;
    width: 26px;
    height: 26px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50px;
    padding-top: 2px;
    margin-right: 8px;
}

.btn.btn-my-green.active span{
    background: rgb(230 255 230);
    width: 26px;
    height: 26px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50px;
    padding-top: 2px;
    margin-right: 8px;
    i{
        color:green
    }
}