<div class="okok">
    <div class="row">
        <div class="row">
            <div class="col-md-9 m-auto">
                
                <div class="kyc-form-height" style="height: 500px;">
                    <div class="row">
                        <div class="col-md-12 text-center mt-4 mb-4">
                           <p class="fs16 fw700">Pan Verification</p>
                        </div>
                    </div>
                    <div class="card p-2 border-0 shadow-sm" >
                       <div class="card-body p-1">
                            <div class="form-floating mb-1 mt-1">
                                <input type="text" class="form-control" id="email" placeholder="Enter email" name="email">
                                <label for="email">Pan Number</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-center mt-4 mb-4">
                            <img style="width:150px" src="assets/images/orimg.png">
                        </div>
                    </div>
                    <div class="card p-2 border-0 shadow-sm" >
                        <h5 class="card-title text-center0 fs14 fw700">Upload your file</h5>
                        
                        <div class="card-body border border-dashed border-success text-center p-2">
                            <input type="file" class="form-control-file d-none" id="fileInput">
                            <label for="fileInput" class="d-block">
                                <div class="p-4 text-center border border-success rounded"  >
                                    <i style="font-size: 40px; color: #59af3d;" class="fa-solid fa-cloud-arrow-up"></i>
                                
                                    <p class="mb-0 mt-2 text-muted">Drop your file here or Click to browse</p>
                                </div>
                            </label>
                        </div>
                    </div>
                </div>
                

                
                <div class="row">
                    <div class="col-md-3">
                        <button type="button" class="btn back-btn">
                            <div class="icobox me-3"><i class="fa-solid fa-arrow-left"></i></div>
                            <p class="me-2">Back</p>
                        </button>
                    </div>
                    <div class="col-md-6"></div>
                    <div class="col-md-3">
                        <div class="col-md-3">
                            <button type="button" class="btn next-btn">
                                <p class="ms-2">Next</p>
                                <div class="icobox ms-3"><i class="fa-solid fa-arrow-right"></i></div>
                            </button>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    </div>
</div>
