<div class="okok">
    <div class="row">
        <div class="row">
            <div class="col-md-9 m-auto">
                
                <div class="kyc-form-height" style="height: 500px;">
                    <div class="row">
                        <div class="col-md-12 text-center mt-4 mb-4">
                           <p class="fs16 fw700">Take Your Selfie</p>
                        </div>
                    </div>
                    
                    <div class="card p-2 border-0 shadow-sm" >
                        <h5 class="card-title text-center0 fs14 fw700 mb-3">Let's verify your identity in minutes!</h5>
                        
                        <div class="card-body border rounded border-success text-center p-2">
                            <div>
                                <img style="height: 200px;" class="img-fluid" src="assets/images/location-img.png">
                            </div>
                        </div>
                        <div>
                            <button type="button" class="btn btn-success btn-sm w-100 mt-3">
                               Take a photo <i class="ms-2 fa-solid fa-camera"></i>
                            </button>
                        </div>
                    </div>
                </div>
                

                
                <div class="row">
                    <div class="col-md-3">
                        <button type="button" class="btn back-btn">
                            <div class="icobox me-3"><i class="fa-solid fa-arrow-left"></i></div>
                            <p class="me-2">Back</p>
                        </button>
                    </div>
                    <div class="col-md-6"></div>
                    <div class="col-md-3">
                        <div class="col-md-3">
                            <button type="button" class="btn next-btn">
                                <p class="ms-2">Next</p>
                                <div class="icobox ms-3"><i class="fa-solid fa-arrow-right"></i></div>
                            </button>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    </div>
</div>
